.btn-outline-warning {
    color: #fdc330;
    border-color: #fdc330;

}

.btn-outline-dark {
    color: #1f1f1f;
    border-color: #1f1f1f;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgb(0, 0, 0);
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.logo-font {
    font-family: 'Staatliches', cursive;
}

.location {
    justify-content: flex-end;
}

body {
    background-image: url("https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.form {
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.bg-black {
    background-color: #000000 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: black;
    border-color: #fdc330;
    background-color: #fdc330;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.28);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fdc330;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(253, 195, 48, 0.25);
}

.bg-footer {
    background-color: #000000 !important;
}

.col {
    height: 100%;
}
html {
    height: 100%;
}

.list-group-item.active {
    z-index: 2;
    color: #000000;
    background-color: #fdc330;
    border-color: #fdc330;
}
